<?xml version="1.0" encoding="UTF-8" ?>  
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		<mapper namespace="com.yunmel.biz.plan.mapper.TaskMapper">

	<sql id="taskColumns">
		ID,CODE,NAME,TYPE_ID,DESCRIPTION,STATUS,RELEVANCEX,PROGRESS,TAGS,PROGRESS_BY_WORKLOG,TOTAL_WORKLOG_DONE,TOTAL_WORKLOG_ESTIMATED,TOTAL_COSTS_DONE,TOTAL_COSTS_ESTIMATED,TOTAL_ISSUES,TOTAL_ISSUES_OPEN,TOTAL_ISSUES_SCORE_OPEN,TOTAL_ISSUES_SCORE_CLOSED,TOTAL_ESTIMATED_FROM_ISSUES,SCHEDULE,DURATION,FORUM_ENTRY,EXTERNAL_CODE,COST_CENTER,NOTES,ORDER_FACTOR,START_IS_MILESTONE,END_IS_MILESTONE,FORECASTED,CUSTOM_FIELD_1,CUSTOM_FIELD_2,CUSTOM_FIELD_3,CUSTOM_FIELD_4,CUSTOM_FIELD_5,CUSTOM_FIELD_6,BUDGET_CUSTOM_FIELD_1,BUDGET_CUSTOM_FIELD_2,BUDGET_CUSTOM_FIELD_3,BUDGET_CUSTOM_FIELD_4,LAST_MODIFIED,LAST_MODIFIER,CREATOR,CREATION_DATE,HIDDEN,HIDDEN_ON,HIDDEN_BY,ANCESTORIDS,PARENT,OWNERX,AREA,INHERIT,PROPAGATE,JSON_DATA,LEVEL,START,END,CREATE_BY,CREATE_DATE,UPDATE_BY,UPDATE_DATE,DEL_FLAG,PROJECT_ID
	</sql>

	<sql id="aliasTaskColumns">
		a.ID,a.CODE,a.NAME,a.TYPE_ID,a.DESCRIPTION,a.STATUS,a.RELEVANCEX,a.PROGRESS,a.TAGS,a.PROGRESS_BY_WORKLOG,a.TOTAL_WORKLOG_DONE,a.TOTAL_WORKLOG_ESTIMATED,a.TOTAL_COSTS_DONE,a.TOTAL_COSTS_ESTIMATED,a.TOTAL_ISSUES,a.TOTAL_ISSUES_OPEN,a.TOTAL_ISSUES_SCORE_OPEN,a.TOTAL_ISSUES_SCORE_CLOSED,a.TOTAL_ESTIMATED_FROM_ISSUES,a.SCHEDULE,a.DURATION,a.FORUM_ENTRY,a.EXTERNAL_CODE,a.COST_CENTER,a.NOTES,a.ORDER_FACTOR,a.START_IS_MILESTONE,a.END_IS_MILESTONE,a.FORECASTED,a.CUSTOM_FIELD_1,a.CUSTOM_FIELD_2,a.CUSTOM_FIELD_3,a.CUSTOM_FIELD_4,a.CUSTOM_FIELD_5,a.CUSTOM_FIELD_6,a.BUDGET_CUSTOM_FIELD_1,a.BUDGET_CUSTOM_FIELD_2,a.BUDGET_CUSTOM_FIELD_3,a.BUDGET_CUSTOM_FIELD_4,a.LAST_MODIFIED,a.LAST_MODIFIER,a.CREATOR,a.CREATION_DATE,a.HIDDEN,a.HIDDEN_ON,a.HIDDEN_BY,a.ANCESTORIDS,a.PARENT,a.OWNERX,a.AREA,a.INHERIT,a.PROPAGATE,a.JSON_DATA,a.LEVEL,a.START,a.END,a.CREATE_BY,a.CREATE_DATE,a.UPDATE_BY,a.UPDATE_DATE,a.DEL_FLAG,a.PROJECT_ID
	</sql>

	<select id="findPageInfo" resultType="com.yunmel.biz.plan.model.Task">
		select  <include refid="aliasTaskColumns" /> 
			from plan_task  a 
		<where>
			1=1
			AND a.DEL_FLAG=0
		  			<if test="code != null and code !='' ">
			    and a.CODE like CONCAT( '%' , #{code}, '%') 
			</if>
			<if test="name != null and name !='' ">
			    and a.NAME like CONCAT( '%' , #{name}, '%') 
			</if>
			<if test="typeId != null and typeId !='' ">
			    and a.TYPE_ID like CONCAT( '%' , #{typeId}, '%') 
			</if>
			<if test="description != null and description !='' ">
			    and a.DESCRIPTION like CONCAT( '%' , #{description}, '%') 
			</if>
			<if test="status != null and status !='' ">
			    and a.STATUS like CONCAT( '%' , #{status}, '%') 
			</if>
			<if test="relevancex != null and relevancex !='' ">
			    and a.RELEVANCEX =  #{relevancex}
			</if>
			<if test="progress != null and progress !='' ">
			    and a.PROGRESS like CONCAT( '%' , #{progress}, '%') 
			</if>
			<if test="tags != null and tags !='' ">
			    and a.TAGS like CONCAT( '%' , #{tags}, '%') 
			</if>
			<if test="progressByWorklog != null and progressByWorklog !='' ">
			    and a.PROGRESS_BY_WORKLOG =  #{progressByWorklog}
			</if>
			<if test="totalWorklogDone != null and totalWorklogDone !='' ">
			    and a.TOTAL_WORKLOG_DONE =  #{totalWorklogDone}
			</if>
			<if test="totalWorklogEstimated != null and totalWorklogEstimated !='' ">
			    and a.TOTAL_WORKLOG_ESTIMATED =  #{totalWorklogEstimated}
			</if>
			<if test="totalCostsDone != null and totalCostsDone !='' ">
			    and a.TOTAL_COSTS_DONE like CONCAT( '%' , #{totalCostsDone}, '%') 
			</if>
			<if test="totalCostsEstimated != null and totalCostsEstimated !='' ">
			    and a.TOTAL_COSTS_ESTIMATED like CONCAT( '%' , #{totalCostsEstimated}, '%') 
			</if>
			<if test="totalIssues != null and totalIssues !='' ">
			    and a.TOTAL_ISSUES =  #{totalIssues}
			</if>
			<if test="totalIssuesOpen != null and totalIssuesOpen !='' ">
			    and a.TOTAL_ISSUES_OPEN =  #{totalIssuesOpen}
			</if>
			<if test="totalIssuesScoreOpen != null and totalIssuesScoreOpen !='' ">
			    and a.TOTAL_ISSUES_SCORE_OPEN =  #{totalIssuesScoreOpen}
			</if>
			<if test="totalIssuesScoreClosed != null and totalIssuesScoreClosed !='' ">
			    and a.TOTAL_ISSUES_SCORE_CLOSED =  #{totalIssuesScoreClosed}
			</if>
			<if test="totalEstimatedFromIssues != null and totalEstimatedFromIssues !='' ">
			    and a.TOTAL_ESTIMATED_FROM_ISSUES =  #{totalEstimatedFromIssues}
			</if>
			<if test="schedule != null and schedule !='' ">
			    and a.SCHEDULE =  #{schedule}
			</if>
			<if test="duration != null and duration !='' ">
			    and a.DURATION =  #{duration}
			</if>
			<if test="forumEntry != null and forumEntry !='' ">
			    and a.FORUM_ENTRY =  #{forumEntry}
			</if>
			<if test="externalCode != null and externalCode !='' ">
			    and a.EXTERNAL_CODE like CONCAT( '%' , #{externalCode}, '%') 
			</if>
			<if test="costCenter != null and costCenter !='' ">
			    and a.COST_CENTER like CONCAT( '%' , #{costCenter}, '%') 
			</if>
			<if test="notes != null and notes !='' ">
			    and a.NOTES like CONCAT( '%' , #{notes}, '%') 
			</if>
			<if test="orderFactor != null and orderFactor !='' ">
			    and a.ORDER_FACTOR like CONCAT( '%' , #{orderFactor}, '%') 
			</if>
			<if test="startIsMilestone != null and startIsMilestone !='' ">
			    and a.START_IS_MILESTONE =  #{startIsMilestone}
			</if>
			<if test="endIsMilestone != null and endIsMilestone !='' ">
			    and a.END_IS_MILESTONE =  #{endIsMilestone}
			</if>
			<if test="forecasted != null and forecasted !='' ">
			    and a.FORECASTED like CONCAT( '%' , #{forecasted}, '%') 
			</if>
			<if test="customField1 != null and customField1 !='' ">
			    and a.CUSTOM_FIELD_1 like CONCAT( '%' , #{customField1}, '%') 
			</if>
			<if test="customField2 != null and customField2 !='' ">
			    and a.CUSTOM_FIELD_2 like CONCAT( '%' , #{customField2}, '%') 
			</if>
			<if test="customField3 != null and customField3 !='' ">
			    and a.CUSTOM_FIELD_3 like CONCAT( '%' , #{customField3}, '%') 
			</if>
			<if test="customField4 != null and customField4 !='' ">
			    and a.CUSTOM_FIELD_4 like CONCAT( '%' , #{customField4}, '%') 
			</if>
			<if test="customField5 != null and customField5 !='' ">
			    and a.CUSTOM_FIELD_5 like CONCAT( '%' , #{customField5}, '%') 
			</if>
			<if test="customField6 != null and customField6 !='' ">
			    and a.CUSTOM_FIELD_6 like CONCAT( '%' , #{customField6}, '%') 
			</if>
			<if test="budgetCustomField1 != null and budgetCustomField1 !='' ">
			    and a.BUDGET_CUSTOM_FIELD_1 like CONCAT( '%' , #{budgetCustomField1}, '%') 
			</if>
			<if test="budgetCustomField2 != null and budgetCustomField2 !='' ">
			    and a.BUDGET_CUSTOM_FIELD_2 like CONCAT( '%' , #{budgetCustomField2}, '%') 
			</if>
			<if test="budgetCustomField3 != null and budgetCustomField3 !='' ">
			    and a.BUDGET_CUSTOM_FIELD_3 like CONCAT( '%' , #{budgetCustomField3}, '%') 
			</if>
			<if test="budgetCustomField4 != null and budgetCustomField4 !='' ">
			    and a.BUDGET_CUSTOM_FIELD_4 like CONCAT( '%' , #{budgetCustomField4}, '%') 
			</if>
			<if test="lastModifiedStart != null and lastModifiedStart !='' ">
			    and a.LAST_MODIFIED &gt;=  #{lastModifiedStart}
			</if>
			<if test="lastModifiedEnd != null and lastModifiedEnd !='' ">
			    and a.LAST_MODIFIED &lt;=  #{lastModifiedEnd}
			</if>
			<if test="lastModifier != null and lastModifier !='' ">
			    and a.LAST_MODIFIER like CONCAT( '%' , #{lastModifier}, '%') 
			</if>
			<if test="creator != null and creator !='' ">
			    and a.CREATOR like CONCAT( '%' , #{creator}, '%') 
			</if>
			<if test="creationDateStart != null and creationDateStart !='' ">
			    and a.CREATION_DATE &gt;=  #{creationDateStart}
			</if>
			<if test="creationDateEnd != null and creationDateEnd !='' ">
			    and a.CREATION_DATE &lt;=  #{creationDateEnd}
			</if>
			<if test="hidden != null and hidden !='' ">
			    and a.HIDDEN =  #{hidden}
			</if>
			<if test="hiddenOnStart != null and hiddenOnStart !='' ">
			    and a.HIDDEN_ON &gt;=  #{hiddenOnStart}
			</if>
			<if test="hiddenOnEnd != null and hiddenOnEnd !='' ">
			    and a.HIDDEN_ON &lt;=  #{hiddenOnEnd}
			</if>
			<if test="hiddenBy != null and hiddenBy !='' ">
			    and a.HIDDEN_BY like CONCAT( '%' , #{hiddenBy}, '%') 
			</if>
			<if test="ancestorids != null and ancestorids !='' ">
			    and a.ANCESTORIDS like CONCAT( '%' , #{ancestorids}, '%') 
			</if>
			<if test="parent != null and parent !='' ">
			    and a.PARENT like CONCAT( '%' , #{parent}, '%') 
			</if>
			<if test="ownerx != null and ownerx !='' ">
			    and a.OWNERX =  #{ownerx}
			</if>
			<if test="area != null and area !='' ">
			    and a.AREA =  #{area}
			</if>
			<if test="inherit != null and inherit !='' ">
			    and a.INHERIT =  #{inherit}
			</if>
			<if test="propagate != null and propagate !='' ">
			    and a.PROPAGATE =  #{propagate}
			</if>
			<if test="jsonData != null and jsonData !='' ">
			    and a.JSON_DATA like CONCAT( '%' , #{jsonData}, '%') 
			</if>
			<if test="level != null and level !='' ">
			    and a.LEVEL =  #{level}
			</if>
			<if test="startStart != null and startStart !='' ">
			    and a.START &gt;=  #{startStart}
			</if>
			<if test="startEnd != null and startEnd !='' ">
			    and a.START &lt;=  #{startEnd}
			</if>
			<if test="endStart != null and endStart !='' ">
			    and a.END &gt;=  #{endStart}
			</if>
			<if test="endEnd != null and endEnd !='' ">
			    and a.END &lt;=  #{endEnd}
			</if>
			<if test="createBy != null and createBy !='' ">
			    and a.CREATE_BY like CONCAT( '%' , #{createBy}, '%') 
			</if>
			<if test="createDate != null and createDate !='' ">
			    and a.CREATE_DATE =  #{createDate}
			</if>
			<if test="updateBy != null and updateBy !='' ">
			    and a.UPDATE_BY like CONCAT( '%' , #{updateBy}, '%') 
			</if>
			<if test="updateDate != null and updateDate !='' ">
			    and a.UPDATE_DATE =  #{updateDate}
			</if>
			<if test="projectId != null and projectId !='' ">
			    and a.PROJECT_ID like CONCAT( '%' , #{projectId}, '%') 
			</if>

		</where>
		<if test="sort != null and sort != '' and order != null and order != ''"> 
			ORDER BY a.${sort}   ${order}
		</if>
	</select>
	
	<select id="getGanttDataByProject" parameterType="java.lang.String" resultType="Map">
		SELECT GROUP_CONCAT(CONCAT(A.id,'@',A.user_id)) assigs,T.* FROM plan_task T 
		LEFT JOIN plan_assignment A on T.id = A.task_id
		LEFT JOIN plan_user U ON A.user_id = U.id
		
		WHERE project_id = #{projectId}
		GROUP BY T.id
		ORDER BY T.`code` ASC
	</select>
	
	<select id="getUserTasks" parameterType="java.lang.String" resultType="Map">
		SELECT * FROM plan_task T
		LEFT JOIN plan_assignment A ON T.id = A.task_id
		LEFT JOIN plan_user U ON U.id = A.user_id
		WHERE U.id = #{userId}
		ORDER BY T.`code` ASC
	</select>
</mapper>