<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>选择处理人</title>
<script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
<script src="/static/layer/layer.js"></script>
<script src="/static/js/yunmel.js"></script>
</head>
<body>
<table style="width:100%;border:1px solid yellow" >
	<thead>
		<th>名称</th>
		<th>预期工期</th>
		<th><button title="添加" onclick="addTr()">添加</button></th>
	</thead>
	<tbody id="selectBody">
		<tr>
			<td>
				<select style="width:100%;"></select>
			</td>
			<td>
				<input>
			</td>
			<td>
				
			</td>
		</tr>
	</tbody>
</table>
</body>
<script type="text/javascript">
	var selectData = null;
	
	$(function(){
		getData();
	});
	
	function getData(){
		//检查是否已经有用户存在了
		yunmel.fun.post('/assignment/getTaskUser',{taskId:'${taskId}'},function(text){
			
		});
		
		if(selectData != null){
			setData(selectData);
		}else{
			yunmel.fun.post('${ctxPath}/user/selectUserList',{},function(text){
				selectData = text.datas;
				setData(selectData);
			});
		}
	}
	
	function setData(json){
		var temp = '<option value="{{id}}">{{name}}</option>';
		var html = '';
		for(var i=0; i<json.length; i++){
			html += temp.replace("{{id}}",json[i].id).replace("{{name}}",json[i].name);
		}
		
		var app = $("#selectBody tr:last");
		$(app).find("select").append(html);
	}
	
	function addTr(){
		var temp = '<tr><td><select style="width:100%;"></select></td><td><input></td><td><button title="删除" onclick="delTr(this)">删除</button></td></tr>';
		$(temp).appendTo("#selectBody");
		getData();
	}
	
	function delTr(e){
		e.parentNode.parentNode.remove();
	}
	
	function getSelectData(){
		return "xxxx";
	}
</script>
</html>